@font-face {
    font-family: "DMSans";
    src: url(../fonts/DMSans-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Domine";
    src: url(../fonts/Domine-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter_28pt-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Lora";
    src: url(../fonts/Lora-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather_120pt-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Playfair";
    src: url(../fonts/Playfair_144pt-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "SourceSans3";
    src: url(../fonts/SourceSans3-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "SourceSansPro.light";
    src: url(../fonts/SourceSansPro.light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: "SourceSansProItalic";
    src: url(../fonts/SourceSansPro-Italic.woff2);
    font-weight: 400;
}
@font-face {
    font-family: "Playfair-Bold";
    src: url(../fonts/Playfair_144pt-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: "SourceSansPro-SemiBold";
    src: url(../fonts/SourceSansPro-SemiBold.woff2);
    font-weight: 600;
}



//Fonts
$font-dmsans: "DMSans";
$font-domine: "Domine";
$font-inter: "Inter";
$font-lora: "Lora";
$font-merriweather: "Merriweather";
$font-montserrat: "Montserrat";
$font-opensans: "Opensans";
$font-playfair: "Playfair";
$font-soursesans: "SourceSans3";
$font-soursesanspro: "SourceSansPro";
$font-soursesanspro-lignt: "SourceSansPro.light";
$font-soursesanspro-italic: "SourceSansProItalic";
$font-playfair-bold: "Playfair-Bold";
$font-soursesanspro-semibold: "SourceSansPro-SemiBold";

//Breakpoints
$grid-breakpoints:("xs": 420px,
  "s":560px,
  "m": 768px,
  "l": 1024px,
  "xl": 1200px);



//Colors
$color-black: #000000;
$color-programs: #D9D9D94D;
$color-gray: #737373;
$color-light-gray:#E8E8E8;
$color-white: #FFFFFF;
$color-light-green: #62A1A4;
$color-green: #089D93;
$color-dark-green: #2D3E52;
$box-1: rgba(98, 161, 164, 0.6);
$box-2: rgb(0, 0, 0, .25);
$shadow-btn2: #737373;
$shadow-btn3: #C3BCBC99;
$bg-card1:#FFFCFC;
$bg-popup-gray:#D9D9D94D;
$bg-popup-white:#FFFAFA;
$bg-popup-light-green: rgba(98, 161, 164, 0.33);
$bg-popup-light-gray:rgba(217, 217, 217, 0.3);
$bg-popup-white2:rgba(255, 255, 255, 0.33);
$bg-pops: rgba(0, 0, 0, 0.6);
