@import "reset";
@import "mixins";
@import "fonts-variables";

.main-padding {
  padding: 40px;
}

.burger-btn {
  display: none;
}

.header-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 40px;
  font-family: $font-soursesanspro;
  font-size: 24px;
  border-bottom: 4px solid $color-green;

  .nav-left,
  .nav-right {
    @include flexbox($justifyContent: space-evenly);
    gap: 24px;
  }

  .nav-links {
    display: none;
  }

  a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: $color-black;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      background-color: $color-green;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  @include media-down(m) {
    @include flexbox($justifyContent: space-between);

    .nav-left,
    .nav-right {
      display: none;
    }

    .burger-btn {
      display: block;
      background: none;
      border: none;
      cursor: pointer;
    }

    .nav-links {
      position: absolute;
      top: 100%;
      right: 0;
      background: $color-white;
      max-width: 40vw;
      width: 100%;
      z-index: 20;
      padding: 16px;

      align-items: center;

      flex-direction: column;
      gap: 16px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    .nav-links.active {
      display: flex !important;
    }
  }
}

h2 {
  font-family: $font-playfair;
  font-size: 36px;
}

.btn {
  background-color: $color-light-green;
  padding: 12px 43px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px $box-1;
  color: $color-white;
  cursor: pointer;
  font-family: $font-domine;
  font-size: 14px;
  border: 1px solid $color-green;
  position: relative;

  &:hover {
    border: 1px solid $color-green;
    box-shadow: 2px 2px 8px $box-1;
    background-color: $color-white;
    color: $color-green;
    transition: 200ms ease-in-out;
  }
}

.btn2 {
  border: 1px solid $color-green;
  box-shadow: 2px 2px 8px $shadow-btn2;
  background-color: $color-white;
  color: $color-green;
  cursor: pointer;
  border-radius: 4px;
  font-family: $font-playfair;
  font-size: 16px;
  padding: 11px 46px;
  position: relative;

  &:hover {
    border: 1px solid $color-green;
    box-shadow: 2px 2px 8px $box-1;
    background-color: $color-light-green;
    color: $color-white;
    transition: 200ms ease-in-out;
  }
}

.btn3 {
  background-color: $color-white;
  color: $color-green;
  box-shadow: 2px 2px 4px $shadow-btn2;
  border-radius: 4px;
  padding: 11px 46px;
  font-family: $font-playfair;
  font-size: 14px;
  border: 1px solid $color-light-green;

  &:hover {
    border: 1px solid $color-white;
    background: $color-light-green;
    color: $color-white;
    box-shadow: 2px 2px 4px -1px $shadow-btn3;
    transition: 200ms ease-in-out;
  }
}

.hero-shot-img {
  @include flexbox($justifyContent: center, $alignItems: center);

  video {
    max-width: 90%;
  }
}

.sec1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: $font-soursesanspro-lignt;
  font-weight: 100;
  font-size: 24px;
  min-height: 500px;

  @include media-down(m) {
    grid-template-columns: 1fr;
    gap: 40px;

    .hero-shot-text {
      text-align: center !important;
      align-items: center !important;
      gap: 20px;
    }
  }

  .hero-shot-text {
    @include flexbox($direction: column, $justifyContent: space-evenly, $alignItems: flex-start);

    h1 {
      font-family: $font-soursesanspro;
      font-size: 18px;
    }
  }
}

.sec2 {
  background-color: $color-light-gray;
  @include flexbox($direction: column, $alignItems: center);

  gap: 40px;

  @include media-down(m) {
    text-align: center;

    .search-box {
      flex-direction: column !important;
    }
  }

  p {
    font-size: 24px;
    font-family: $font-soursesanspro-lignt;
    text-align: center;
  }

  .search-box {
    @include flexbox($alignItems: center);
    gap: 10px;

    input {
      flex: 1;
      font-family: $font-soursesanspro;
      padding: 10px;
      background-color: $color-white;
      border-radius: 4px;
      box-shadow:
        2px 2px 4px $box-2,
        inset 0px 2px 10px -8px $color-dark-green;

      &::placeholder {
        color: $color-light-green;
        font-size: 14px;
      }
    }
  }
}

.sec3 {
  @include flexbox($direction: column, $alignItems: center);
  gap: 20px;
  padding: 20px 0;

  p {
    font-family: $font-soursesanspro;
    font-size: 24px;
  }

  .carousel {
    @include flexbox($alignItems: center);
    gap: 12px;
    width: 100%;
    padding: 0 40px;

    height: 575px;

    .nav {
      cursor: pointer;
    }

    .viewport {
      overflow: hidden;
      width: 100%;

      .track {
        @include flexbox();
        transition: transform 0.4s ease;

        .page {
          flex: 0 0 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;

          .cards {
            @include flexbox($direction: column, $alignItems: center, $justifyContent: space-between);
            gap: 20px;
            max-width: 333px;
            height: auto;
            width: 100%;
            margin: 0 auto;

            h6 {
              font-family: $font-soursesanspro;
              font-size: 24px;
            }

            p {
              font-family: $font-soursesanspro-lignt;
              font-size: 18px;
            }

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.sec4 {
  @include flexbox($direction: column, $alignItems: center);
  border-top: 4px solid $color-green;
  gap: 20px;

  .carousel {
    @include flexbox($alignItems: center);

    gap: 20px;
    margin: 0 auto;

    .nav {
      cursor: pointer;
    }

    .viewport1 {
      overflow: hidden;
      width: 100%;

      .track1 {
        @include flexbox();
        transition: transform 0.4s ease;

        .page1 {
          @include flexbox($direction: column, $alignItems: center);
          gap: 20px;
          padding: 40px;
          min-width: 100%;

          p {
            font-family: $font-soursesanspro-italic;
            font-size: 24px;
            text-align: center;
          }

          h6 {
            font-family: $font-soursesanspro;
            font-size: 24px;
          }

          img {
            border-radius: 50%;
            border: 2px solid $color-light-green;
          }
        }
      }
    }
  }
}

.sec5 {
  @include flexbox($direction: column, $alignItems: center);
  padding: 20px;
  border-top: 4px solid $color-green;
  max-width: 100vw;
  overflow: hidden;

  .img-container {
    @include flexbox($alignItems: center);
    gap: 36px;
    animation: scroll 25s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-55vw);
      }
    }
  }
}

.sec6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  background-color: $color-light-gray;

  @include media-down(m) {
    grid-template-columns: 1fr;
  }

  .hero-shot-text2 {
    @include flexbox($direction: column, $alignItems: center, $justifyContent: center);
    gap: 20px;

    p {
      font-family: $font-soursesanspro-lignt;
      font-size: 24px;
    }
  }
}

footer {
  @include flexbox($justifyContent: center, $direction: column);
  padding: 40px;
  position: relative;

  h6 {
    font-family: $font-soursesanspro;
    font-size: 14px;
  }

  .footer-container {
    @include flexbox($direction: row, $justifyContent: space-between);
    border-bottom: 1px solid $color-black;

    @include media-down(m) {
      @include flexbox($direction: column);
    }

    .info {
      @include flexbox($direction: column);
      gap: 12px;

      h6 {
        font-size: 18px;
        font-family: $font-soursesanspro;
      }
    }

    .img-logos {
      @include flexbox();
      flex-wrap: wrap;
      gap: 20px;

      .footer-icons {
        @include flexbox();
        flex-basis: 100%;
        gap: 15px;
      }
    }
  }
}

//Programs

.hero-programs {
  min-height: 400px;
  position: relative;
  @include flexbox($direction: column, $alignItems: center, $justifyContent: space-evenly);

  @include media-down(m) {
    text-align: center;
  }

  .btn-container {
    @include flexbox();
    gap: 16px;

    @include media-down(m) {
      display: flex;
      flex-direction: column;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/hero-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  p {
    font-family: $font-soursesanspro-lignt;
    font-size: 24px;
  }
}

.our-programs {
  @include flexbox($direction: column);
  gap: 20px;

  .programs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;

    @include media-down(m) {
      grid-template-columns: 1fr;
    }

    .programs-card {
      aspect-ratio: 1 / 1;
      max-width: 333px;
      max-height: 333px;
      height: 100%;
      box-shadow: 2px 2px 4px $box-2;
      position: relative;
      background-color: $color-programs;

      @include media-down(m) {
        aspect-ratio: 3 / 4;

        .card-content {
          gap: 10px !important;
        }
      }

      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: center;
      }

      .card-content {
        @include flexbox($direction: column, $alignItems: flex-start);
        padding: 20px;
        gap: 16px;

        .open-popup {
          font-family: $font-soursesanspro;
          font-size: 14px;
          color: $color-black;
          cursor: pointer;

          &:hover {
            color: $color-green;
            transform: translate(-1px, -1px);
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background-color: $color-green;
            transform: scaleX(0);
            color: $color-green;
            transition: ease;
          }

          &:hover::after {
            transform: scaleX(1);
            color: $color-green;
          }
        }

        h3 {
          font-family: $font-soursesanspro;
          font-weight: 600;
          font-size: 18px;
          color: $color-green;
        }

        p {
          font-family: $font-soursesanspro-lignt;
          font-size: 14px;
        }
      }
    }
  }
}

.hero-programs2 {
  background-color: $color-light-green;
  height: auto;
  @include flexbox($alignItems: center, $justifyContent: center);

  gap: 50px;

  @include media-down(m) {
    @include flexbox($direction: column, $alignItems: center, $justifyContent: center);
  }

  .text {
    @include flexbox($direction: column, $alignItems: flex-start, $justifyContent: center);
    gap: 20px;
    color: $color-white;
    padding: 40px;
    @include media-down(m) {
      align-items: center;
    }

    p {
      font-family: $font-soursesanspro-lignt;
      line-height: 1.6;
      font-size: 24px;
    }
  }

  .hero-cards {
    @include flexbox($direction: column);
    gap: 20px;
    flex-grow: 1;
    padding: 20px;

    .card1 {
      @include flexbox();
      background-color: $bg-card1;
      border-radius: 4px;
      gap: 20px;
      box-shadow: 0 2px 6px 1px $box-2;

      @include media-down(m) {
        @include flexbox($direction: column);
        gap: 0;

        img {
          margin: 10px auto !important;
        }

        .card1-text {
          padding: 20px;
        }
      }

      img {
        border-radius: 50%;
        object-fit: cover;
        width: 89px;
        height: 89px;
        object-position: center;
        flex-shrink: 0;
        margin: 16px;
      }

      .card1-text {
        @include flexbox($direction: column, $justifyContent: center);
        gap: 16px;
        color: $color-gray;

        h6 {
          font-size: 14px;
          font-family: $font-soursesanspro;
        }

        p {
          font-family: $font-soursesanspro-italic;
          font-size: 14px;
        }
      }
    }
  }

  .off {
    transform: translateX(-40px);

    .card1-text {
      h6,
      p {
        color: $color-black;
      }
    }
  }
}

//Popups

.popups {
  width: 100%;
  margin: 0 auto;
  max-width: 90%;
  display: none;
  justify-content: center;

  .pops {
    .pop {
      .close-btn {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
      }

      .pop-hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 40px;
        height: 100%;
        gap: 25px;

        @include media-down(m) {
          @include flexbox($direction: column);

          .marketing-text {
            gap: 16px;
          }
        }

        .pop-hero-img {
          width: 100%;

          img {
            width: 100%;
            height: auto;
            max-width: 100%;
            display: block;
            object-fit: cover;
          }
        }

        .marketing-text {
          @include flexbox($direction: column, $alignItems: flex-start, $justifyContent: space-between);
          height: 100%;

          h6 {
            font-family: $font-soursesanspro;
            font-size: 18px;
          }

          p {
            font-family: $font-soursesanspro-lignt;
            font-size: 18px;
          }
        }
      }

      .overview {
        background-color: $bg-popup-light-gray;
        @include flexbox($direction: column);
        text-align: center;
        gap: 16px;

        p {
          font-family: $font-soursesanspro-lignt;
          font-size: 18px;
        }
      }

      .highlights {
        display: grid;
        grid-template-columns: 1fr 1.2fr;

        @include media-down(m) {
          grid-template-columns: 1fr;
          gap: 26px;

          .highlights1 {
            gap: 16px;
          }

          .highlights2 {
            grid-template-columns: 1fr;
          }
        }

        h6 {
          font-family: $font-soursesanspro;
          font-size: 18px;
        }

        p {
          font-family: $font-soursesanspro-lignt;
          font-size: 18px;
        }

        .highlights1 {
          @include flexbox($direction: column, $justifyContent: space-between, $alignItems: flex-start);
          height: 100%;
          padding-right: 40px;
        }

        .highlights2 {
          p {
            font-size: 14px;
          }

          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;

          .hcards {
            @include flexbox($direction: column);
            gap: 11px;
            height: 100%;
            width: 100%;
          }
        }
      }

      .pricing {
        background-color: $bg-popup-light-gray;

        @include flexbox($direction: column, $justifyContent: center, $alignItems: center);
        gap: 40px;

        @include media-down(m) {
          text-align: center;
          .pricing-container {
            flex-direction: column !important;
          }

          .btn-container {
            flex-direction: column !important;
            align-items: center;
          }
        }

        p {
          font-family: $font-soursesanspro;
          font-size: 18px;
        }

        ul {
          list-style-type: none;
        }

        h3 {
          font-family: $font-soursesanspro-lignt;
          font-size: 14px;
        }

        .pricing-container {
          @include flexbox();
          gap: 55px;

          .pricing1 {
            @include flexbox($direction: column);
            gap: 18px;
            border-radius: 4px;
            box-shadow: 2px 2px 4px $box-2;
            padding: 30px;
            background-color: $bg-popup-white2;

            h6 {
              color: $color-light-green;
              font-family: $font-playfair-bold;
              font-size: 14px;
            }

            ul {
              color: $color-light-green;
              font-family: $font-soursesanspro;
              font-size: 14px;
            }
          }

          .price {
            @include flexbox();
            color: $color-white;
            background-color: $color-light-green;
            border-radius: 4px;
            box-shadow: 2px 2px 4px $box-2;
            padding: 20px 30px;
            max-width: 534px;

            .price1 {
              @include flexbox($direction: column, $alignItems: flex-start);
              padding-right: 20px;
              position: relative;
              gap: 18px;
              border-right: 1px solid $color-white;

              h6 {
                font-family: $font-playfair;
                font-size: 18px;
              }

              p {
                font-family: $font-soursesanspro-lignt;
                font-size: 14px;
              }

              h4 {
                font-family: $font-soursesanspro-semibold;
                font-size: 24px;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }

            .price2 {
              @include flexbox($direction: column);
              gap: 20px;
              padding-left: 30px;
              font-family: $font-soursesanspro-lignt;
              font-size: 14px;

              li {
                list-style-image: url(../img/Check.svg);
              }
            }
          }
        }

        span {
          background-color: $bg-popup-light-green;
          color: $color-green;
          padding: 12px 23px;
          border-radius: 4px;
        }

        .btn-container {
          @include flexbox();
          gap: 30px;
        }
      }
    }
  }
}

.overlay {
  background-color: #000000ba;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  display: none;
}

.popup-open {
  position: fixed;
  top: 20px;
  background-color: $color-white;
  z-index: 41;
  display: block;
  max-width: 90dvw;
  max-height: 90dvh;
  overflow-y: auto;

  @include media-down(m) {
    left: 20px;
  }
}

.display-block {
  display: block !important;
}

.display-flex {
  display: flex !important;
}
